<li>
	<%= comment.id %>
	<%= comment.comment %>
	<%= comment.user_id %>
	<%= comment.post_id %>
	<% if user_signed_in? && comment.user_id === current_user.id %>
	<%= button_to "delete", post_comment_path(comment.id), method: :delete %>
	<% end %>
</li>
