<main>
    <div class="wrapper-flex">
        <div class="devise-contents">
          <h2 class="devise-title">ログイン</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
              <div class="form">
                  <div>
					  <p class="alert testStyle"><%= alert %></p>
					  <%= render "devise/shared/error_messages" %>
					  <%= render 'devise/shared/error_messages', model: f.object %>
                      <div class="form-content">
						  <%= f.label :email, "メールアドレス", class: "form-label"%>
						  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
                      </div>
                      <div class="form-content">
						  <%= f.label :password, "パスワード", class: "form-label" %>
    					  <%= f.password_field :password, autocomplete: "current-password", class: "form-input" %>
                      </div>
                  </div>
              </div>
              <div class="">
                  <%= f.submit "ログイン", class: "btn-submit" %>
              </div>
          <% end %>
          <div class="btn-return actions">
			  <%= link_to "戻る", root_path %>
          </div>
        </div>
    </div>
</main>
