<div class="devise-header">
	<h2 class="devise-header2">ヘッダー</h2>
</div>
<main>
    <div class="wrapper">
        <div class="devise-contents">
          <div class="devise-title">
            <h2 class="devise-title2">ログイン</h2>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form">
                  <div>
                      <div class="form-content">
						  <%= f.label :email, "メールアドレス", class: "form-label"%>
						  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
                      </div>
                      <div class="form-content">
						  <%= f.label :password, "パスワード", class: "form-label" %>
    					  <%= f.password_field :password, autocomplete: "current-password", class: "form-input" %>
                      </div>
                  </div>
              </div>
              <div class="">
                  <%= f.submit "ログイン", class: "btn-submit" %>
              </div>
          <% end %>
          <div class="btn-return actions">
			  <%= link_to "戻る", root_path %>
          </div>
        </div>
    </div>
</main>
