<li>
	<%= link_to post_path(post) do %>
	[<%= post.user.id %>]<%= post.user.name %>."<%= post.text %>",<%= post.comments.count%>,♡<%= post.favorites.count %>
	<%#<%= render "favorites/show", {post: post} %>
	<% end %>
	<%= render "favorites/show", {post: post, flag: flag} %>
</li>
