<header class="header">
	<div class="header">
		<div class="header-logo">
			<%= link_to "t-ch", root_path, class: "header-logo-btn" %>
		</div>
		<div>
			<% if user_signed_in? %>
				<ul class="header-lists">
					<li><%= button_to "ログアウト", destroy_user_session_path,method: :delete, class: "header-list" %></li>
				</ul>
			<% else %>
				<ul class="header-lists">
					<li class=""><%= link_to "ログイン", new_user_session_path, class: "header-list" %></li>
					<li class=""><%= link_to "会員登録", new_user_registration_path, class: "header-list" %></li>
				</ul>
			<% end %>
		</div>
	</div>
</header>
<main>
	<div class="style">
		<div class="side-bar">
			<ul class="items">
				<li class="item menu_item-js active-js">最新の投稿</li>
				<% if user_signed_in? %>
					<li class="item menu_item-js">お気に入り</li>
					<li class="item menu_item-js">自分の投稿</li>
					<li class=""><%= link_to "投稿する", new_post_path, class: "item-link" %></li>
				<% end %>
			</ul>
		</div>
		<div class="contents content-js show-js">
			<div class="none"></div>
			<div id="posts">
				<%= render partial: "show", collection: @posts, as: "post", locals: {flag: "post"} %>
			</div>
			<div id="next_link">
				<%= button_to "next", pagy_url_for(@pagy, @pagy.next) %>
			</div>
		</div>
		<div class="contents content-js">
			<div class="none"></div>
			<%= render partial: "show", collection: @favorite_posts, as: "post", locals: {flag: "fav"} %>
		</div>
		<div class="contents content-js">
			<div class="none"></div>
			<%= render partial: "show", collection: @user_posts, as: "post", locals: {flag: "user"} %>
		</div>
	</div>
</main>
