<% if user_signed_in? %>
<h1>hello! <%= current_user.name %>(<%= current_user.email %>).</h1>
<%= button_to "sign out", destroy_user_session_path, method: :delete %>
<%= link_to "new", new_post_path %>
<% else %>
<h1>hello! guest.</h1>
<%= link_to "log in", new_user_session_path %>
<%= link_to "sign up", new_user_registration_path %>
<% end %>

<ul>
	<h4>posts</h4>
	[id]name."text"
	<%= render partial: "show", collection: @posts, as: "post" %>
	<% if user_signed_in? %>
		<h4>favorites</h4>
		[id]name."text"
		<%= render partial: "show", collection: @favorite_posts, as: "post" %>
	<% end %>
</ul>
<%= image_tag "sample.png" %>
