

<body>
<meta  name=”viewport” content=”width=device-width,initial-scale=1.0″>
	<header>
		<div class="header">
			<div class="header-logo">Mini-Twitter</div>
				<div class="header-list">
			
				<% if user_signed_in? %>
					<ul>
						<li><span class="logout-button"><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class:"button2" %></span></li>
						<li class="user-name"><%= current_user.name %>(<%= current_user.email %>) さん</li>
					</ul>

				<% else %>
					<ul>
						<li class="button1"><span class="login"><%= link_to "ログイン", new_user_session_path %></span></li>
						<li class="button1"><span class="register"><%= link_to "会員登録", new_user_registration_path %></span></li>
					</ul>
					
				<% end %>
				</div>
			</div>
		</div>

		<div class="main">
			<div class="button1"><%= link_to "投稿", new_post_path %></div>
			<h3 class="section-title">posts</h3>
			<div class="contents">
				<div class="contents-item"><%= render partial: "show", collection: @posts, as: "post" %></div>
			</div>
			<% if user_signed_in? %>
			<h3 class="section-title">favorites</h3>
			<div class="contents">
				<div class="contents-item"><%= render partial: "show", collection: @favorite_posts, as: "post" %></div>
			</div>
			<% end %>
		</div>

	<header>
</body>