<h1>posts/<%= params[:id] %></h1>
<ul>
	<li>postId : <%= @post.id%></li>
	<li>name : <%= @post.user.name%></li>
	<li>userEmail : <%= @post.user.email%></li>
	<li>text : <%= @post.text%></li>
</ul>

<%= render "favorites/show", {post: @post} %>
<p>いいね : <%= @favorited_sum %></p>
<% if user_signed_in? && @post.user_id === current_user.id %>
<%= button_to "edit", edit_post_path, method: :get %>
<%= button_to "delete", @post, method: :delete %>
<% end %>

<%= form_with model: @comment, url: post_comments_path(@post) do |form| %>
  <div>
    <div><%= form.label :comment %></div>
    <div><%= form.text_field :comment %></div>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<ul>
<% @comments.each do |comment| %>
<li>
	<%= comment.id %>
	<%= comment.comment %>
	<%= comment.user_id %>
	<%= comment.post_id %>
	<%= button_to "delete", post_comment_path(comment.id), method: :delete %>
</li>
<% end %>
</ul>

<%= link_to "return", root_path %>
